@charset "UTF-8";

#container {
    width: 680px;
    margin: auto;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.center {
    text-align: center;
}

.error {
	color: red;
}

.right {
	text-align: right;
}





